@import '../utils/colors.scss';

.brand {
     cursor: pointer;
     span {
          text-transform: uppercase;
          font-size: xx-large;
          border: 0.2rem solid #f50460;
          color: $blueColor;
          padding: 0.3rem  1rem;
          border-radius: 0.5rem;
          font-weight: bolder;
          letter-spacing: 0.1rem;
     }
}

.footer {
     span {
          color: white;
          border-color: white;
     }
}